.project-name a,
.project-name a:hover,
.project-name a:visited,
.project-name a:active {
   color: #FFFFFF;
   text-decoration: none;
}

.column {
   float: left;
   width: 33.33%;
   padding: 5px;
 }
 
 /* Clearfix (clear floats) */
 .row::after {
   content: "";
   clear: both;
   display: table;
 }

 #logo-complete {
    width: 60%;
    float: right;    
 }

 /* Dashed border */
hr.solid {
   border-top: 3px solid rgb(0, 0, 0);
   width: 50%;
 }

 div.block {
   display:block;
 }

 #manuel-photo{
  width: 35%;
 }

 #antonio-photo{
  width: 40%;
}

#tanja-photo{
  width: 45%;
}

#adel-photo{
  width: 45%;
}

#loay-photo {
  width: 39%;
}

#dorian-photo {
  width: 45%;
}

#lucian-photo {
  width: 45%;
}

#radek-photo {
  width: 45%;
}

#felix-photo {
  width: 45%;
}

#dominik-photo {
  width: 36%;
}


 /*.main-content p {
  margin-bottom: 1em; }*/

 .nomargin{
   margin:0px;
   padding: 0px;
 }


