.project-name a,
.project-name a:hover,
.project-name a:visited,
.project-name a:active {
   color: #FFFFFF;
   text-decoration: none;
}

.column {
   float: left;
   width: 33.33%;
   padding: 5px;
 }
 
 /* Clearfix (clear floats) */
 .row::after {
   content: "";
   clear: both;
   display: table;
 }

 #logo-complete {
    width: 60%;
    float: right;    
 }

 /* Dashed border */
hr.solid {
   border-top: 3px solid rgb(0, 0, 0);
   width: 50%;
 }

 div.block {
   display:block;
 }

 #manuel-photo{
    height: 70%;
 }
