<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="http://martin-fleck.github.io/momot/images/logo_momot_32x32.png">
    <link rel="stylesheet" type="text/css" href="./assets/css/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="./assets/css/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="./assets/css/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="./assets/css/custom.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name"><a href="http://martin-fleck.github.io/momot/">MOMoT</a></h1>
      <h2 class="project-tagline">LEA xDSML</h2>
      <a href="./pages/about.html" class="btn">About</a>
      <a href="./pages/news.html" class="btn">News</a>
      <a href="./pages/members.html" class="btn">Members</a>
      <a href="./pages/publications.html" class="btn">Publications</a>     
    </section>

    <section class="main-content">
      {{content}}
    </section>  
  </body>
</html>