<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{site.github.url}}/assets/img/lea-logo.png">
    <link rel="stylesheet" type="text/css" href="{{site.github.url}}/assets/css/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{site.github.url}}/assets/css/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{site.github.url}}/assets/css/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{site.github.url}}/assets/css/custom.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <div class="row">
        <div class="column">
          <a href="{{site.github.url}}">
            <img src="{{site.github.url}}/assets/img/lea-logo-complete.png" alt="Lea-xDSML Logo" id="logo-complete"></img>
          </a>
        </div>
        <div class="column">
          <h2 class="project-tagline">Language Engineering for Analyzable Executable Domain Specific Modelling Languages</h2>
        </div>
      </div>      
      <div style="display:block">
        <a href="{{site.github.url}}" class="btn">Home</a>
        <a href="{{site.github.url}}/pages/about" class="btn">About</a>
        <a href="{{site.github.url}}/pages/news" class="btn">News</a>
        <a href="{{site.github.url}}/pages/members" class="btn">Members</a>
        <a href="{{site.github.url}}/pages/publications" class="btn">Publications</a>     
      </div> 
    </section>

    <section class="main-content">
      {{content}} 
      <footer>
        This project is maintained by <a href="{{site.github.repository_url}}">jku-win-se</a>
      </footer>
    </section>    
  </body>
</html>